### Pokemon Pokedex Data Analytics

Wanted some fun data analytics to start with

In [1]:
## importing libraries 
import numpy as np
import pandas as pd
from prettytable import PrettyTable

## Loading our data
## not setting # as default index because of repetitions
df = pd.read_csv('../datasets/Pokemon.csv')#, index_col = 0)
# df.shape
df.head()
# df.sample(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Step 1 - Exploring the data

In [28]:
## Collecting pertinent values into variables for easy reference

df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [4]:
df = df.rename(columns = {'Type 1' : 'Main Type', 'Type 2' : 'Secondary type', 'defense' : 'defence'})
df.sample(5)

,#,Name,Main Type,Secondary type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
629,568,Trubbish,Poison,NaN,329,50,50,62,40,62,65,5,False
165,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False
738,670,Floette,Fairy,NaN,371,54,45,47,75,98,52,6,False
777,707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False
385,353,Shuppet,Ghost,NaN,295,44,75,35,63,33,45,3,False

In [5]:
## placating my inner child : Who's the strongest?
df[df.Total == df.Total.max()]

,#,Name,Main Type,Secondary type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True

In [6]:
## What's the strongest Legendary ?!
df[(df.Legendary == True) & (df.Total == df.Total.max())]

## whoops, same as above D:

,#,Name,Main Type,Secondary type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True

In [7]:
## Looking into distribution of Total for different types
type_explored = ['Main Type']

## Series of values
values = df.groupby([type_explored[0]]).Total.agg(['mean','min', 'max'])
max_max = df.groupby([type_explored[0]]).Total.agg(['mean','min', 'max']).idxmax()
min_max =  df.groupby([type_explored[0]]).Total.agg(['mean','min', 'max']).idxmin()

## making a pretty table
categories = ['Max of mean values', 'Max of min values', 'Max of max values', 'Minimum of mean values', 'Minimum of min values', 'Minimum of max values']
x = PrettyTable()
x.title ='Values distribution of Total score for each pokemon type'
x.field_names = ['Category', type_explored[0], 'Value']

## values.columns[i] = {0: 'mean', 1: 'min', 2: 'max'}
x.add_rows([[categories[i], max_max[i], round(values.loc[max_max[i], values.columns[i]], 2)] for i in range(0,len(max_max))])
x.add_rows([[categories[i], min_max[i], round(values.loc[min_max[i], 'mean'], 2)] for i in range(0,len(min_max))])

print(x)

+----------------------------------------------------------+
| Values distribution of Total score for each pokemon type |
+-----------------------------+----------------+-----------+
|           Category          |   Main Type    |   Value   |
+-----------------------------+----------------+-----------+
|      Max of mean values     |     Dragon     |   550.53  |
|      Max of min values      |     Dragon     |    300    |
|      Max of max values      |     Dragon     |    780    |
|      Max of mean values     |      Bug       |   378.93  |
|      Max of min values      |     Grass      |   421.14  |
|      Max of max values      |     Poison     |   399.14  |
+-----------------------------+----------------+-----------+

In [8]:
## Values of the weakest and strongest pokemon in each generation
df.groupby('Generation').aggregate({
    'Total' : [len,'mean','min','max'],
    'Attack' : ['min','max'],
    'Defense' : ['min','max']
}).style.set_table_attributes("style='display:inline'").set_caption('Top values per generation') # pip install jinja2 to get this working :D

In [9]:
## Weakest & Strongest pokemon in each generation
filter_applied = ['Total'] # Can filter by Total, HP, Attack or Defense
df.groupby('Generation').apply(lambda x : x[x[filter_applied[0]] == x[filter_applied[0]].max()]).loc[:, ~df.columns.isin(['Generation'])]

                  #                     Name Main Type Secondary type  Total  \
Generation
1          163  150      MewtwoMega Mewtwo X   Psychic       Fighting    780
           164  150      MewtwoMega Mewtwo Y   Psychic            NaN    780
2          268  248  TyranitarMega Tyranitar      Rock           Dark    700
3          426  384    RayquazaMega Rayquaza    Dragon         Flying    780
4          552  493                   Arceus    Normal            NaN    720
5          711  646       KyuremBlack Kyurem    Dragon            Ice    700
           712  646       KyuremWhite Kyurem    Dragon            Ice    700
6          796  719      DiancieMega Diancie      Rock          Fairy    700

                 HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Legendary
Generation
1          163  106     190      100      154      100    130       True
           164  106     150       70      194      120    140       True
2          268  100     164      150       95      120     71      False
3          426  105     180      100      180      100    115       True
4          552  120     120      120      120      120    120       True
5          711  125     170      100      120       90     95       True
           712  125     120       90      170      100     95       True
6          796   50     160      110      160      110    110       True

In [18]:
## Making a DataFrame with only main type
main_Type = df.drop(['Secondary type'], axis =1)
# main_Type

## Getting rid pokemon with no secondary type
cleaned_secondary = df[df['Secondary type'].notna()]
# cleaned_secondary

In [38]:
## Scanning data for null values
## https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe
entries = len(df.index)
missing_values = [[col, '{}/{}'.format(df[col].isna().values.sum(), entries)] for col in df.columns]

print(missing_values)

[['#', '0/800'], ['Name', '0/800'], ['Main Type', '0/800'], ['Secondary type', '386/800'], ['Total', '0/800'], ['HP', '0/800'], ['Attack', '0/800'], ['Defense', '0/800'], ['Sp. Atk', '0/800'], ['Sp. Def', '0/800'], ['Speed', '0/800'], ['Generation', '0/800'], ['Legendary', '0/800']]

In [62]:
## longest name vs shortest
print("Longest name vs shortest : {} - [{}] vs. {} - [{}]".format(df.Name.max(), len(df.Name.max()), min(df.Name), len(min(df.Name))))

Longest name vs shortest : Zygarde50% Forme - [16] vs. Abomasnow - [9]

# There seems to be a mistake
When first running this, we had shellos as part of the sample. 
Abomasnow has a length of 9, whilst Shellos had 7. Hence we didn't truly find the shortest name (& probably the longest neither)

In [64]:
## Potential candidate for shortest :
df[df.Name == 'Shellos']

In [16]:
## Confirming we found a mistake
# even the following; there's over 500 names shorter than length of 9
len(df[df['Name'].str.len()  < 9].Name.unique())

# and even with max; there's plenty of names longer than 16 characters
# df[df['Name'].str.len() > 16].Name.describe()

547

In [160]:
## sourced : https://stackoverflow.com/questions/21295334/find-length-of-longest-string-in-pandas-dataframe-column
df.loc[df.Name.str.len() == df.Name.map(len).max()]

## double checking
## print(len(df.iloc[7]) == len(df.iloc[124]))

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False

In [18]:
## Getting column names
columns = list(df.columns)
# print(*columns, sep = ' - ')

## Loading specific items
df.iloc[[798,786,12,329,794], [1]]

                        Name
798       HoopaHoopa Unbound
786      GourgeistLarge Size
12   BlastoiseMega Blastoise
329        MawileMega Mawile
794         Zygarde50% Forme

In [12]:
## Understanding objects
## 1 - type() (what is this thing?
## 2 - dir() (what can I do with it?)
## 3 - help() (tell me more)

# data - HoopaHoopa Unbound ; GourgeistLarge Size ; BlastoiseMega Blastoise ; MawileMega Mawile