### Pokemon Data Analytics

In [6]:
## importing libraries 
import numpy as np
import pandas as pd

data = pd.read_csv('../datasets/Pokemon.csv')
data.sample(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
693,632,Durant,Bug,Steel,484,58,109,112,48,48,109,5,False
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False

In [22]:
## Getting column names
columns = list(data.columns)
# print(*columns, sep = ' - ')

## Loading specific items
data.iloc[[798,786,12,329], [1]]

                        Name
798       HoopaHoopa Unbound
786      GourgeistLarge Size
12   BlastoiseMega Blastoise
329        MawileMega Mawile

In [12]:
## Understanding objects
## 1 - type() (what is this thing?
## 2 - dir() (what can I do with it?)
## 3 - help() (tell me more)

# data - HoopaHoopa Unbound ; GourgeistLarge Size ; BlastoiseMega Blastoise ; MawileMega Mawile